@font-face {
    font-family: 'Yekan Bakh';
    src: url('/public/fonts/Yekanbakh/YekanBakh-VF.ttf') format('ttf');
    font-weight: 100 900;
    font-display: fallback;
  }
    
  @font-face {
      font-family: 'Yekan Bakh';
      font-style: normal;
      font-weight: normal;
      src: url('/public/fonts/Yekanbakh/fallbacks/YekanBakh-Regular.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/fallbacks/YekanBakh-Regular.woff2') format('woff2');		 
  }
  
  @font-face {
      font-family: 'Yekan Bakh';
      font-style: normal;
      font-weight: 600;
      src: url('/public/fonts/Yekanbakh/fallbacks/YekanBakh-SemiBold.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/fallbacks/YekanBakh-SemiBold.woff2') format('woff2');		 
  }
  
  @font-face {
      font-family: 'Yekan Bakh';
      font-style: normal;
      font-weight: bold;
      src: url('/public/fonts/Yekanbakh/fallbacks/YekanBakh-Bold.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/fallbacks/YekanBakh-Bold.woff2') format('woff2'); 
  }
  

  
  @font-face {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 300;
      src: url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-Light.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-Light.woff2') format('woff2');	
  }
  
  @font-face {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: normal;
      src: url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-Regular.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-Regular.woff2') format('woff2');		 
  }
  
  @font-face {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 600;
      src: url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-SemiBold.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-SemiBold.woff2') format('woff2');		 
  }
  
  @font-face {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: bold;
      src: url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-Bold.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-Bold.woff2') format('woff2'); 
  }
  
  @font-face {
      font-family: 'Yekan Bakh FaNum';
      font-style: normal;
      font-weight: 800;
      src: url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-ExtraBold.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-ExtraBold.woff2') format('woff2');		 
  }
  
  @font-face {
      font-family: Yekan Bakh FaNum;
      font-style: normal;
      font-weight: 900;
      src: url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-Black.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-Black.woff2') format('woff2');		 
  }
  
  @font-face {
      font-family: Yekan Bakh FaNum;
      font-style: normal;
      font-weight: 950;
      src: url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-ExtraBlack.woff') format('woff'),   
      url('/public/fonts/Yekanbakh/YekanBakhFaNum/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');		 
  }
