@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root
   {
    @apply w-full h-full overflow-hidden min-h-screen min-w-[100vw];
  }
}

body {
  cursor: default;
  user-select: none;
}

canvas {
  touch-action: none;
}
